<header></header>
<main>
    <div class="container">
        <h1 class="center-align">todos</h1>
        <div class="card-panel hoverable">
            <div class="btn-group">
                <button type="button" class="btn btn-default waves-effect" (click)="filterTodo('SHOW_ALL')">All</button>
                <button type="button" class="btn btn-default waves-effect" (click)="filterTodo('SHOW_ACTIVE')">Active</button>
                <button type="button" class="btn btn-default waves-effect" (click)="filterTodo('SHOW_COMPLETED')">Complete</button>
                <button type="button" class="btn btn-default waves-effect" (click)="refreshTodos()">Refresh</button>
            </div>

            <div class="input-field col s12">
                <i class="fa fa-angle-down prefix"></i>
                <label for="inputTodo">What needs to be done?</label>
                <input id="inputTodo" name="inputTodo" [(ngModel)]="todo" #inputTodo (keyup.enter)="addTodo()" type="text" class="validate">
            </div>
            <div class="input-field col s12" *ngFor="let todo of filteredTodos$ | async;">
                <input type="checkbox" id="chktodo{{todo.id}}" (change)="toggleTodo(todo)" [checked]="todo.complete" />
                <label for="chktodo{{todo.id}}"><span *ngIf="!todo.complete">{{todo.description}}</span>
                <del *ngIf="todo.complete">{{todo.description}}</del>
                </label>
                <div class="right-align"><a href="javascript:void(0)" (click)="removeTodo(todo)"><i class="fa fa-trash"></i></a></div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>
</main>

<footer></footer>